.MuiIconButton-root {
  padding: 8px !important;
}

.MuiAppBar-root {
  z-index: 3 !important;
}

.navbar-toggler {
  padding: 0rem 0.3rem;
}

@media (min-width: 600px) {
  .MuiToolbar-gutters {
    padding-left: 19px !important;
    padding-right: 32px !important;
  }
}

.MuiToolbar-gutters {
  padding-left: 45px !important;
}
