@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../../../assets/fonts/AvenirNextLTProDemi.otf");
  src: url("../../../assets/fonts/AvenirNextLTProDemi.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../../../assets/fonts/AvenirNextLTProRegular.otf");
  src: url("../../../assets/fonts/AvenirNextLTProRegular.otf")
    format("opentype");
}

.login-form {
  font-family: "AvenirNextLTProRegular";
}

.login-header {
  font-family: "AvenirNextLTProDemi";
}

.MuiInputBase-root {
  font-family: "AvenirNextLTProRegular" !important;
}

@media (max-width: 700px) {
  .sign-up-btn {
    display: none;
  }
}
.MuiInputBase-root,
.MuiInput-root {
  background-color: transparent;
  /* border: 1px solid black; */
  padding: 5px;
  /* -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28); */
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}
.login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
#login-form {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;
}
#login-form > p {
  margin-bottom: 30px;
}
#login-form,
.form-title {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}
#login-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-input-content {
  text-align: left;
}
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}
#login-form_username {
  height: 48px;
}
#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  border-radius: 6px;
}
.login-form-button {
  width: 100%;
}
.illustration-wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
}
.illustration-wrapper img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .login-box {
    flex-direction: column;
    box-shadow: none;
  }
  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }
  #login-form {
    max-width: 100%;
  }
}

.login-form {
  min-width: 500px !important;
}

.MuiOutlinedInput-input,
.MuiOutlinedInput-root {
  padding: 5.5px;
  border-radius: 5rem !important;
  text-align: center;
}
