@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../../../assets/fonts/AvenirNextLTProDemi.otf");
  src: url("../../../assets/fonts/AvenirNextLTProDemi.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../../../assets/fonts/AvenirNextLTProRegular.otf");
  src: url("../../../assets/fonts/AvenirNextLTProRegular.otf")
    format("opentype");
}

.login-form {
  font-family: "AvenirNextLTProRegular";
}

.login-header {
  font-family: "AvenirNextLTProDemi";
}

.MuiInputBase-root {
  font-family: "AvenirNextLTProRegular" !important;
}

@media (max-width: 700px) {
  .sign-up-btn {
    display: none;
  }
}
.MuiInputBase-root,
.MuiInput-root {
  background-color: transparent;
  /* border: 1px solid black; */
  padding: 5px;
  /* -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28); */
}
