@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("/assets/fonts/AvenirNextLTProDemi.otf");
  src: url("/assets/fonts/AvenirNextLTProDemi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../../assets/fonts/AvenirNextLTProRegular.otf");
  src: url("../../assets/fonts/AvenirNextLTProRegular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("../../assets/fonts/AvenirNextLTProBold.otf");
  src: url("../../assets/fonts/AvenirNextLTProBold.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(#f8f8f8, #fff); */
  overflow-x: hidden;
  font-family: "AvenirNextLTProRegular";
}

.foryou {
  font-weight: 700;
  color: #232323;
  font-family: "AvenirNextLTProDemi";
}
.container-fluid {
  padding: 0px !important;
}
.banner-header {
  font-size: 2.6rem;
  font-weight: 150;
  padding-bottom: 0.57vw;
  font-family: "AvenirNextLTProDemi", sans-serif;
  color: #222222 !important;
}

.banner-container {
  margin-bottom: -55px !important;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.join-newsletter-btn {
  appearance: none;
  background: #00a287;
  padding: 0.6em 0.9em;
  border: none;
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  border-radius: 100px;
  min-width: 126px;
  margin-top: 5px;
  font-family: "AvenirNextLTProRegular";
}
.about {
  font-weight: 700;
  color: #4a4a4a;
}
@media (max-width: 990px) {
  .banner-header {
    font-size: 1.9rem;
  }
  .banner-container {
    margin-top: 7vw;
    margin-right: 0;
  }

  .join-newsletter-btn {
    margin-left: 0px;
    padding: 0.8em 0.5em;
    font-size: 0.85rem;
    min-width: 110px;
  }

  .banner-sub-container {
    text-align: center;
  }
  .about {
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .banner-header {
    margin-right: 10%;
    min-width: 400px;
  }

  .banner-container {
    position: absolute;
    margin-left: 8%;
    margin-top: 3.5%;
    text-align: left;
  }
}

.button-container {
  padding: 0px !important;
}

.search-field {
  margin-top: 300px;
}

@media (max-width: 500px) {
  .banner-container {
    margin-top: 19vw;
    margin-right: 0;
    height: 40px;
  }

  .banner-header {
    font-size: 20px !important;
    display: none;
  }
  p {
    font-size: 14px !important;
  }

  .join-newsletter-btn {
    padding: 0.4rem 0.4rem;
    margin-bottom: 0.5rem;
    display: none;
  }

  .banner-img {
    margin-left: 0px !important;
    background-position: calc(50% - 90px) 10% !important;
  }
  .foryou {
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  .banner-container {
    margin-top: 19vw;
    margin-right: 0;
  }

  .banner-header {
    font-size: 25px;
  }

  .join-newsletter-btn {
    padding: 0.4rem 0.4rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 500px) {
  .banner-img {
    margin-left: 16%;
  }
}

p {
  font-family: "AvenirNextLTProRegular";
  color: "#4a4a4a";
}
@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 80.33333%;
  }
}

@media (max-width: 600px) {
  .banner-header {
    font-size: 19px !important;
    line-height: 0rem;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  p {
    font-size: 14px !important;
    display: none;
  }
  .banner-img {
    height: 200px !important;
  }
  .join-newsletter-btn {
    padding: 0.6rem 0.6rem;
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }
  .banner-container {
    padding: 0px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 891px) {
  .banner-img {
    margin-left: 35%;
  }
  .banner-container {
    margin-left: 4%;
  }
}

@media screen and (max-width: 700px) and (min-width: 591px) {
  /* .banner-container {
    margin-left: 3%;
  } */
  .banner-header {
    margin-top: 10%;
  }
}

@media (max-width: 640px) {
  .banner-img {
    background-attachment: initial;
  }
}
