@font-face {
  font-family: "AvenirNextLTProRegular";
  src: local() url("../../assets/fonts/AvenirNextLTProRegular.otf");
  src: url("../../assets/fonts/AvenirNextLTProRegular.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextLTProMedium";
  src: local("AvenirNextLTProMedium")
    url("../../assets/fonts/AvenirNextLTProMedium.otf");
  src: local("AvenirNextLTProMedium")
    url("../../assets/fonts/AvenirNextLTProMedium.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: local("AvenirNextLTProDemi")
    url("../../assets/fonts/AvenirNextLTProDemi.otf");
  src: local("AvenirNextLTProDemi")
    url("../../assets/fonts/AvenirNextLTProDemi.otf") format("opentype");
}

@font-face {
  font-family: "o";
  src: url("../../assets/fonts/o Demi.eot");
  src: url("../../assets/fonts/o Demi.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/o Demi.woff2") format("woff2"),
    url("../../assets/fonts/o Demi.woff") format("woff"),
    url("../../assets/fonts/o Demi.svg#o Demi") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
.email-field {
  width: 100%;
  height: 57px;
  border-radius: 75px;
  padding: 0.6em 0.9em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "AvenirNextLTProRegular";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18), inset 0 0 1px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 0;
  color: #656565;
  -webkit-appearance: none;
}

.email-field::placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-size: 1.15em;
}

@media (max-width: 1178px) {
  .search-form {
    margin-top: 2%;
  }
}

@media (max-width: 992px) {
  .search-form {
    display: none;
  }
}

@media screen and (min-width: 779px) and (max-width: 1200px) {
  .search-form {
    margin-top: 12px;
  }
}

.search-form-font {
  font-family: "AvenirNextLTProMedium" !important;
}
