@font-face {
  font-family: "AvertaDemo-ExtraBoldItalic";
  src: url("../../assets/fonts/AvertaDemo-ExtraBoldItalic.otf");
  src: url("../../assets/fonts/AvertaDemo-ExtraBoldItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirNextLTProThin";
  src: url("../../assets/fonts/AvenirNextLTProThin.otf");
  src: url("../../assets/fonts/AvenirNextLTProThin.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../../assets/fonts/AvenirNextLTProRegular.otf");
  src: url("../../assets/fonts/AvenirNextLTProRegular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../../assets/fonts/AvenirNextLTProDemi.otf");
  src: url("../../assets/fonts/AvenirNextLTProDemi.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextLTProLight";
  src: url("../../assets/fonts/AvenirNextLTProLight.otf");
  src: url("../../assets/fonts/AvenirNextLTProLight.otf") format("opentype");
}

@font-face {
  font-family: "o";
  src: url("../../assets/fonts/o Demi.eot");
  src: url("../../assets/fonts/o Demi.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/o Demi.woff2") format("woff2"),
    url("../../assets/fonts/o Demi.woff") format("woff"),
    url("../../assets/fonts/o Demi.svg#o Demi") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
.saved-recipes {
  font-family: "o";
  font-size: 0.78rem;
  color: #232323;
}
.saved-recipes:hover {
  text-decoration: none;
}
.sidebar {
  background-color: #ffffff !important;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.12);
  height: 100% !important;
  position: fixed;
  height: 100%;
  min-height: 100%;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}
.sidebar-nav {
  overflow-y: auto !important;
}

.sidebar .nav-link:hover {
  height: 100%;
  text-decoration: none !important;
}
@media (max-width: 991px) {
  .sidebar-show .main::before,
  .aside-menu-show .main::before {
    min-height: 100vh;
  }
  .logo {
    display: none;
  }
  #separator {
    display: none;
  }

  .login-button {
    padding-bottom: 0px !important;
  }

  .bm-menu,
  .bm-item-list {
    padding: 0px !important;
  }

  .nav {
    display: block;
  }

  .logo-container {
    margin-top: 0% !important;
  }
  .nav-item {
    padding-top: 3.4px;
    padding-bottom: 3.4px;
  }
  .nav-link > span {
    /* margin-left: 28px !important; */
  }
  .saved-recipes {
    font-size: 13.8px;
    letter-spacing: 0.05rem;
  }
  .more {
    display: none;
  }
  .logo-container {
    margin-bottom: 18.5px !important;
  }
  .nav-item > .sidebar-link-no-bcg {
    padding: 8px !important;
  }
}

.more {
  font-family: "o";
  bottom: -10px;
}

.sidebar .sidebar-nav {
  width: 100%;
  height: 100vh !important;
}

.nav {
  /* overflow: scroll !important; */
}

.sidebar .nav {
  min-height: 0 !important;
}

.profile-img {
  width: 27.4%;
  margin-bottom: 27px;
  margin-top: 10px;
  outline: red;
}

.profile-load-img {
  margin-right: 0px auto;
  margin-left: 0px auto;
  /* margin-right: 200px;
  width: 100%;
  margin-bottom: 21px;
  margin-top: 15px; */
}

.profile-img-container {
  text-align: center;
}

.logo-container {
  margin-top: 35%;
}
.nav-footer {
  font-size: 0.7rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09) 0%, white 35%);

  position: fixed;
  bottom: 0 !important;
  font-family: "o";
  z-index: 1000;
  color: black;
  transition: color 0.4s ease;
}

@media (max-width: 500px) {
  .nav-footer {
    display: none !important;
  }
}

.nav-footer a {
  color: #707070;
  /* font-family: "AvenirNextLTProDemi", sans-serif; */
}

.nav-link {
  padding: 4px !important;
  padding-left: 8px !important;
  color: #707070;
  font-size: 0.82rem;
  /* font-family: "AvenirNextLTProLight", sans-serif; */
  transition: color 0.4s ease;
  border: none !important;
  outline: none !important;
  font-weight: bold;
  letter-spacing: 0.01rem !important;
}

.sidebar-login-button {
  letter-spacing: 0;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3em;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 11px 24px;
  /* font-family: "AvenirNextLTProRegular"; */
  background-color: #fff;
}

.sidebar-link-no-bcg:hover {
  background: none !important;
}
.logo-container {
  text-align: center;
  /* margin-top: 35%; */
  margin-bottom: 25px;
}
.sidebar {
  color: #747474;
  /* background: none; */
}

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    width: 204px;
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: -204px;
  }
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 204px;
  }
}

@media (min-width: 1200px) {
  html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 204px;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 204px;
    transition-delay: 0.2s;
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: -204px;
    transition-delay: 0.2s;
  }
  .nav-link {
    font-size: 18px;
  }
}

.sidebar {
  flex-direction: none;
}
.is-active {
  color: #232323;
  text-emphasis: none;
  background: linear-gradient(
    to right,
    #00a287 0,
    #00a287 1.4%,
    transparent 1.2%
  ) !important;
}

.nav-link:hover {
  color: #292e34 !important;
}

.login-button {
  /* font-family: "AvenirNextLTProRegular"; */
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 204px;
  }
}

@media (min-width: 1200px) {
  html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 204px;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 204px;
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: -204px;
  }
}

@media (max-width: 990px) {
  .profile-img-container {
    text-align: left;
    margin-left: 32px;
  }
}

html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
  margin-left: 0px;
}

@media (max-width: 475.98px) {
  .sidebar-show .main::before,
  .aside-menu-show .main::before {
    height: 100%;
    /* height: 100vh; */
  }
  .nav-link:active {
    background-color: rgba(53, 53, 53, 0.08) !important;
  }
  .nav-link {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .sidebar-show .main::before {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1018;
    width: 100vw;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    min-height: 100%;
    /* -webkit-animation: opacity 0.6s; */
    transition: opacity 0.6s !important;
  }

  .sidebar {
    width: 250px;
  }

  .sidebar .nav {
    width: 250px;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: -250px;
  }
}

.profile-button > img {
  box-shadow: 0 0 2pt 1.3pt #056f43;
  transition: all 0.23s ease-in-out;
}
