@media (min-width: 960px) {
  .app-header {
    display: none;
  }
  .header-fixed .app-body {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 959px) and (max-width: 1200px) {
  .app-header {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .sidebar-fixed .app-header + .app-body .sidebar {
    height: 100%;
  }
  .navbar-brand {
    width: 80px !important;
  }
}
.navbar-brand {
  font-size: 1.5rem !important;
  top: -3px !important;
}

.app-header {
  border-bottom: 0px;
  height: 50px;
}

.navbar-brand {
  color: #f15a24 !important;
  font-size: 1.5rem;
  font-family: "AvertaDemo-ExtraBoldItalic", sans-serif;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler-icon {
  height: 20px !important;
}

.img-avatar {
  height: 25px !important;
}

@media (max-width: 991.98px) {
  .app-body {
    margin-top: 15px;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
}

.dropdown-item {
  border: none;
}

.dropdown-item > a {
  color: black;
}

@media (max-width: 991px) {
  .modal-content {
    width: 100vw;
    height: auto;
    min-height: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  .modal-backdrop {
    display: none;
  }
  .modal-dialog {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}
