// Variable overrides
$navbar-bg: #fff;
$navbar-height: 55px;
$body-bg: #fff;
$navbar-border: none;
$sidebar-nav-link-color: none;
$sidebar-link-hover-color: white;
$font-family-sans-serif: none;
$sidebar-nav-link-hover-bg: white;
$sidebar-nav-link-active-icon-color: white;
// $layout-transition-speed: 0.5s;
